body {
  background-image: url(images/rainforest.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 200vh;
  background-attachment: fixed;
  display: block;
  margin: 0px;
}

h1 {
  color: aqua;
  size: 40px;
}
